main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.table {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.table .row:not(:first-child) {
  background-color: #0005;
  border-radius: 0.25rem;
}
.row {
  display: flex;
  color: white;
  width: 100%;
}

.row div:first-child {
  width: 60%;
  padding: 0.5rem 1rem;
  text-align: start;
}

.row div:not(:first-child) {
  width: 20%;
  padding: 0.5rem 1rem;
  text-align: center;
}
